@import "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem ;
  box-sizing: border-box;
}
.join_container {
  width: 80rem;
  height: auto;
  min-height: auto;
  padding: 2rem;
  background: var(--color-white);
  border-radius: 10px;
  box-shadow: rgba(0,0,0,0.2) 5px 5px 10px;
  box-sizing: border-box;
}
.join_container h2 {
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 5rem;
}
.join_wrap  {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.join_wrap form p input:focus { border: 2px solid var(--color-green); }
.join_wrap form label {
  font-size: var(--font-sm);
  margin-right: 2rem;
}
.join_wrap form input {
  width: 40rem;
  height: 4rem;
  padding: 0 2rem; 
  box-sizing: border-box;
  border-radius: 5px;
}
.join_wrap form input:focus { border: 2px solid var(--color-green); }
.join_wrap form input[type="text"],
.join_wrap form input[type="email"],
.join_wrap form input[type="password"],
.join_wrap form input[type="tel"] { border: 1px solid var(--color--light-gray); }

.join_wrap form p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.join_wrap form p.address {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.address_wrap {
  display: flex;
}
.dtil_wrap {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


.join_wrap form input[type="text"].postcode {
  width: 20rem;
  margin: 0 0 1rem 6.9rem;
} 
.join_wrap form input[type="button"].search_btn {
  width: 7rem;
  margin-left: 1rem;
  padding: 0;
  text-align: center;
  cursor: pointer;
}
.join_wrap form input[type="text"].addressname,
.join_wrap form input[type="text"].dtiladdress {
  display: block;
  margin: 0 0  1rem 11.5rem;
}

.join_btn_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.join_wrap form .join_btn {
  width: 20rem;
  height: 5rem;
  font-size: var(--font-nomal);
  color: var(--color-white);
  background: var(--color-mdi-green);
  transition: background .3s;
  cursor: pointer;
}
.join_wrap form .join_btn:hover { background: var(--color-green); }


@media screen and (max-width: 768px){ 
.join_container {
  width: 60rem;
}

}
@media screen and (max-width: 500px){ 
  .join_container {
    width: 50rem;
  }
  .join_wrap form p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  .join_wrap form label {
    font-size: var(--font-sm);
    margin-right: 0rem;
  }
  .join_wrap form input {
    width: 22rem;
    height: 4rem;
    padding: 0 1rem; 
    box-sizing: border-box;
    border-radius: 5px;
  }

  .join_wrap form input[type="text"].postcode {
    width: 12rem;
    margin: 0 0 1rem 9rem;
  } 
  .join_wrap form input[type="button"].search_btn {
    width: 5rem;
    font-size: 1.2rem;
  }
  .join_wrap form input[type="text"].addressname,
  .join_wrap form input[type="text"].dtiladdress {
    display: block;
    margin: 0 0  1rem 11.5rem;
  }
  
}

@media screen and (max-width: 340px){ 
  .join_container { 
    width: 35rem; 
    padding: 1rem;
  }
}