@import "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

.login_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50rem;
  height: 46rem;
  padding: 2rem 4rem;
  background: var(--color-white);
  border-radius: 10px;
  box-shadow: rgba(0,0,0,0.2) 5px 5px 10px;
  box-sizing: border-box;
}
.login_container h2 {
  font-size: 3rem;
  font-weight: var(--font-bold);
  color: var(--color-light-green);
  text-align: center;
  margin: 2rem 0 8rem 0;
}

.login_wrap form input {
  display: block;
  width: 40rem;
  height: 6rem;
  margin: 0 auto;
  border-radius: 5px;
}

.login_wrap form .username,
.login_wrap form .password {
  margin-bottom: 2rem;
  padding: 0 2rem;
  border: 1px solid var(--color--light-gray);
}
.login_wrap form .username:focus,
.login_wrap form .password:focus { border: 2px solid var(--color-light-green); }
.login_wrap form .login_btn { 
  font-size: var(--font-lg);
  color: var(--color-white);
  background: var(--color-mdi-green);
  cursor: pointer;
  transition: background .3s;
}
.login_wrap form .login_btn:hover { background: var(--color-green); }
.info_link ul { 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.info_link ul li a {
  font-size: var(--font-sm);
  padding: 1rem;
  transition: color .3s;
}
.info_link ul li a:hover { color: #777; }

@media screen and (max-width: 500px){ 
.login_container {
  width: 35rem;
}
.login_wrap form input {
  display: block;
  width: 25rem;
  height: 5rem;
  margin: 0 auto;
  border-radius: 5px;
}
.info_link ul li a { font-size: var(--font-xs); }

}